*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body + img{
  width: 20rem;
}
.app--container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input--field--for--qrcode{
  font-size: 2rem;
  margin: 2rem;
}
#qrcodeforimg{
  /* background-color: white; */
}
.qrcodemadewithdivs{
  margin: 1rem;
}