*{
  margin: 0;
  padding: 0;
}

.app--container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input--field--for--qrcode{
  font-size: 2rem;
  margin: 2rem;
}

.qrcodemadewithdivs{
  margin: 1rem;
}